<div class="confirmation-container">
    <div class="confirmation-box">
        <p class="confirmation-text">
            Vous allez envoyer une notification à :
        </p>
        <ul>
            <li>Votre formateur.trice</li>
            <li>Votre médiateur.trice</li>
        </ul>
        
    </div>
    <div class="confirmation-buttons">
        <button class="cancel-button" (click)="cancelCall()">Annuler</button>
        <button (click)="confirmCall()">Valider</button>
    </div>
</div>
