<body>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)" class="form">
        <div>
            <input id="name" formControlName="name" placeholder="Nom">
            <div class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <div *ngIf="name?.errors?.['required']">Le nom est requis</div>
            </div>
            <div *ngIf="errorMessages?.['name']" class="error">
                {{ errorMessages['name'] }}
            </div>  
        </div>

        <div>
            <input id="email" formControlName="email" placeholder="email">
            <div class="error" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div *ngIf="email?.errors?.['required']">L'email est requis</div>
                <div *ngIf="email?.errors?.['email']">Email invalide</div>
            </div>
            <div *ngIf="errorMessages?.['email']" class="error">
                {{ errorMessages['email'] }}
            </div>
        </div>
    
        <div>
            <input id="oldPassword" formControlName="oldPassword" type="password" placeholder="Ancien mot de passe">
            <div *ngIf="errorMessages?.['oldPassword']" class="error">
                {{ errorMessages['oldPassword'] }}
            </div>
        </div>

        <div>
            <input id="newPassword" formControlName="newPassword" type="password" placeholder="Nouveau mot de passe">
            <div class="error" *ngIf="profileForm.errors?.['passwordRequired']">
                Les champs Nouveau mot de passe et Confirmation sont requis si vous modifiez votre mot de passe
            </div>
        </div>
    
        <div>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirmer le mot de passe">
            <div class="error" *ngIf="profileForm.errors?.['passwordRequired']">
                Les champs Nouveau mot de passe et Confirmer mot de passe sont requis si vous modifiez votre mot de passe.
            </div>
            <div class="error" *ngIf="profileForm.errors?.['mismatch']">Les mots de passe ne correspondent pas</div>
        </div>
        <div *ngIf="errorMessages?.['message']" class="error">
            {{ errorMessages['message'] }}
        </div>
                    
        <div *ngIf="errorMessages?.['password']" class="error">
        {{ errorMessages['password'] }}
        </div>
          
        <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
        </div>
          
    </form>
    
    <div class="button-container">
        <button type="button" (click)="onSubmit($event)">Valider</button>
        <button type="button" (click)="cancel()">Annuler</button>
    </div>    
  </body>
  